html
{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background-color: hsl(0, 0%, 8%);
    color: antiquewhite;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    border: 1px whitesmoke;
    background-color: hsl(0, 0%, 12%);
    height: 485px;
    width: 300px;
    border-radius: 7px;
    text-align: center;
.avatar-wrapper{
   height: 70px;
   width: 70px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 55px;
}
img{
    height: 100%;
    width: 100%;
    margin-top:30px ;
    border-radius: 50%;

}
.social-media
{
    /* margin:auto; */
}
.social-media-list
{
    padding: 5px;
    margin-right: 55px;
    /* justify-content: flex; */
}
li{
    margin-left: auto;
    margin-right:auto ;
    background-color: hsl(0, 0%, 20%);
    width:250px ;
    text-align: center;
    padding: 5px;
    margin-top: 8px;
    height: 25px;
    justify-content: center;
}

.bio
{
    
}
.address
{
    color: hsl(75, 94%, 57%);
}
ul
{
    list-style: none;
}